*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/sonarlint/issuestore/7/1/7155d9bd64af779bc7561a8870b4b8460a01e672
/.idea/sonarlint/securityhotspotstore/7/1/7155d9bd64af779bc7561a8870b4b8460a01e672
/.idea/codeStyles/codeStyleConfig.xml
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/codeStyles/Project.xml
/.idea/git_toolbox_blame.xml
